body{
    font-family: 'Lobster', cursive;
    background-color: ;
    text-align: center;
}

header h2{
    text-align: center;
}

header ul li{
    display: inline-block;;
    text-align: center;
    border: 2px solid;
    margin: 2em;
}

header p{
    text-align: left;
    display: inline-block;
    margin: 5em;
}

nav ul li{
    display: inline-block;;
    text-align: center;
    border: 2px solid;
    margin: 2em;
}
